<% url_for_form = @pages_tree[(@page.id).to_s] %>

<%= form_for(@page, url: url_for_form) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" visibility:="" hidden="">
    <%= f.label :parent_id %><br>
    <%= f.number_field :parent_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <%#*<div class="field">%>
    <%#= f.label :reference %><br>
    <%#= f.text_field :reference %>
  <%#*</div>%>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
